<div class="affiliate-header"
    style="margin-bottom: 20px; padding: 10px; background-color: #f9f9f9; border: 1px dashed #ccc; text-align: center;">
    <p style="font-size: 0.8em; color: #777;">[PR] Information</p>
    <a href="https://hb.afl.rakuten.co.jp/hsc/50009e93.f515ab64.4c671fac.525871ff/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjoxLCJjYXQiOiIxIiwiYmFuIjozNzM0MzAsImFtcCI6ZmFsc2V9"
        target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img
            src="https://hbb.afl.rakuten.co.jp/hsb/50009e93.f515ab64.4c671fac.525871ff/?me_id=2101008&me_adv_id=373430&t=pict"
            border="0" style="margin:2px" alt="" title=""></a>
</div>